.navbar navbar-inverse{
    padding: 20px;
}

html body {
    
    /* overflow-x: hidden; */
}

.thumbnail{
    width: 280px; 
    height:340px;
}

.navbar-brand {
    font-size: 30px; 
    color: #ffffff;
}

.pagination{
    padding-left: 250px;

}