<!-- Page Content -->

<div class="container">

    <header class="bg-success text-center p-2  py-3 mb-4">
      <div class="container">
        <h1 class="font-weight-light text-white">
          <i class="fab fa-youtube"></i> <a class="text-white" href="#">YOUTUBE CHANNEL</a></h1>
          <form class="navbar-form navbar-left" action="/action_page.php">
            <div class="form-group">
              <input #query type="text" class="form-control" placeholder="Search">
            </div>
            <button (click) = "onClick(query.value)" type="submit" class="btn btn-success" routerLink="/search" routerLinkActive="active">Search</button>
          </form>
      </div>
    </header>
  
    <router-outlet></router-outlet>
    
  
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
      <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>
    <div class="row">
     <div *ngFor="let video of videos" class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow vh-50">
        <a href="https://www.youtube.com/watch?v={{video.id.videoId}}" target="_blank">
            <img [src]="video.snippet.thumbnails.medium.url" class="card-img-top" alt="..."></a>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">
              <a href="">{{video.snippet.title}}
              </a></h5>
              <button (click)= "videoPlay(video.Id)">Watch Locally</button>
            <div class="card-text text-black-50">{{video.snippet.description.slice(0, 100)}}</div>
           </div>
        </div>
      </div>
  
    </div>
    <!-- /.row -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
